<div class="row">
    <div class="col-md-6 group-block" ng-repeat="group in vm.group_standings  | filter : search">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <a ng-click="vm.sortType = 'pos'; vm.sortReverse = !vm.sortReverse">
                  POS
                  </a>
                    </td>
                    <td>FLAG</td>
                    <td>
                        <a ng-click="vm.sortType = 'team'; vm.sortReverse = !vm.sortReverse">
                  TEAM
                  </a>
                    </td>
                    <td>GROUP</td>
                    <td>
                        <a ng-click="vm.sortType = 'pts'; vm.sortReverse = !vm.sortReverse">
                  PTS 
                  </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" standing  in group | filter : search | orderBy:vm.sortType:vm.sortReverse ">
                    <td>{{standing.rank}}</td>
                    <td>
                        <img ng-src="{{standing.crestURI}}" class="logo" ng-show="standing.crestURI" />
                    </td>
                    <td><a href="" ng-click="vm.openModalTeam(standing,true)"><strong>{{standing.team}}</strong> </a></td>
                    <td>{{standing.group}}</td>
                    <td>{{ standing.points }}</td>
                    <td><a href="" ng-click="vm.openModalMatches(standing,true)"><strong>Matches</strong></a></td>
                    <td>
                        <button class="btn btn-primary" type="button" ng-click="vm.addFavorite(standing,true)"><span class="glyphicon glyphicon-star"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
